#map_canvas{
    height: 100%;
  }

  .gm-style{
    background-color: red !important;
  }

  footer{
    top:40% !important;
    left: -10%;
    z-index: 1 !important;
    position: inherit !important;
   
  }

  div{
    top:-16%;
    left: 0;
    z-index: -99 !important;
    position: absolute !important;
  }
